*{
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1em;
  min-height: 100vh;
}

.container {
  max-width: 960px;
  width: 100%;
  padding: 1em;
  border: 1px double #999;
  border-radius: 10px;
}

.title {
  padding: 1em;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  margin:0;
  background: #444;
  border-radius: 10px;
}


.list {
  background: #aaa;
  padding: 0.75em;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: normal;
}

.btn {
  padding: 10px 20px;
  margin: 4px;
}